.header{
  background-color: white;
  height: 50px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#header-wrapper {
  width: 70%;
  margin: auto;
}

#title {
  display: inline-block;
  width: 49%;
  /*padding-left: 1%;*/
}

#order-button {
  display: inline-block;
  text-align: right;
  width: 49%;
  /*padding-right: 1%;*/
}