.admin-filter {
  height: 56px;
}

.admin-filter form {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid aquamarine;
}

.admin-filter form div {
  width: 5%;
  display: inline-block;
  color: white;
}

.admin-filter form input {
  columns: darkgrey;
  font-size: 20px;
  font-weight: bold;
  height: 26px;
  line-height: 20px;
  width: 94%;
  border: none;
  border-width:0px;
  /*background-color: rgb(252, 236, 236)*/
}