.header{
  background-color: white;
  height: 50px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid aquamarine;
}

#header-wrapper {
  width: 70%;
  margin: auto;
}

#admin-title {
  display: inline-block;
  width: 100%;
}
