.admin-edit {
  position: absolute;
  height: 100%;
  background-color: white;
  z-index: 3;
  width: 50%;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  /*padding: 10px;*/
  /*font-family: ClanPro-News, Helvetica, sans-serif;*/
}

.edit-item-container > div{
  display: inline-block;
}

.edit-item-container > div:first-child{
  width: 95%;
}

.edit-item-container > div:last-child{
  width: 5%;
  min-width: 25px;
}

.trash-button {
  background-image: url('/api/static/trash.png');
  height: 25px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: bottom;
}

#admin-edit-add-button {
  text-align: center;
  /*background-color: rgb(161, 210, 145);*/
  background-color: rgb(246, 246, 246);
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

#admin-edit-add-button:hover {
  cursor: pointer;
}

#admin-edit-add-input input {
  width: 50%;
  height: 25px;
  margin: 5px 0px;
}

#admin-edit-header-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  background-color: white;
}

#admin-edit-header-container > div:not(:last-child) {
  padding: 10px;
  display: inline-block;
}

#admin-edit-header-title span{
  font-size: 30px;
}

#admin-edit-body {
  /*height: 10000px;*/
  padding: 10px;
}

#admin-edit-body > div:not(:first-child) {
  border-top: 1px solid black;
  /*border-bottom: 1px solid black;*/
}

#admin-edit-body > div {
  margin: auto;
  width: 97%;
  padding: 10px;
}

@media only screen and (max-width: 1024px) {
  .edit-item-container > div:first-child{
    width: 90%;
  }

  .edit-item-container > div:last-child{
    width: 5%;
    min-width: 25px;
  }
}

@media only screen and (max-width: 800px) {
  /*.restaurant-img {
    width: 100%;
  }*/
}

@media only screen and (max-width: 760px) {
  .admin-edit {
    position: absolute;
    height: 100%;
    background-color: white;
    z-index: 3;
    width: 100%;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
  }
}