.admin-restaurant-container {
  position: fixed;
  display: block;
  top: 0px;
  z-index: 2;
  background-color: rgb(81, 81, 81);
  height: 100%;
  width: 100%;
  overflow-y: scroll; 
}

.admin-restaurant-info-address, .admin-restaurant-info-category, .admin-restaurant-info-menu {
  border-radius: 5px;
  border: 1px solid black;
  display: inline-block;
  margin: 5px 5px;
  padding: 3px 3px;
}

.admin-restaurant-info-address span, .admin-restaurant-info-category span, .admin-restaurant-info-menu span, #admin-retaurant-info-status span {
  font-size: 12px;
}

.admin-restaurant-info-body {
  padding: 10px 10px;
}
.admin-restaurant-info-body > div {
  padding: 0px 0px 40px 0px;
}

.admin-restaurant-info-body div div label {
  font-size: 22px;
  padding: 5px;
}

#admin-restaurant-info {
  position: relative;
  background-color: white;
  height: 100%;
  margin: auto;
  width: 50%;
  overflow-y: scroll;
}

/*
  Restaurant Address Settings
*/
#admin-restaurant-info-address-edit, #admin-restaurant-info-category-edit, #admin-restaurant-info-menu-edit {
  background-image: url('/api/static/edit.png');
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0px 10px;
}

#admin-restaurant-info-address-edit:hover, #admin-restaurant-info-category-edit:hover, #admin-restaurant-info-menu-edit:hover {
  cursor: pointer;
}

#admin-restaurant-info-address-label label, #admin-restaurant-info-categories-label label, #admin-restaurant-info-menu-label label {
  display: inline-block;
}

#admin-restaurant-info-address-label div, #admin-restaurant-info-categories-label div, #admin-restaurant-info-menu-label div {
  display: inline-block;
  padding: 0px 10px;
  font-size: 10px;
  vertical-align: top;
}

/*
  Header Settings:
  Restaurant Header
  Save and Close Buttons
  Restaurant Img
*/
#admin-restaurant-info-header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  height: auto;
  padding: 10px;
  z-index: 2;
  background-color: white;
}

#admin-restaurant-info-header > div {
  display: inline-block;
  width: 49%;
}

#admin-restaurant-info-header-title > div {
  display: inline-block;
}

#admin-restaurant-info-header-title div span {
  font-size: 30px;
}

#admin-restaurant-info-header-save-button {
  background-image: url('/api/static/save.png');
}

#admin-restaurant-info-header-close-button {
  background-image: url('/api/static/close.png');
}

#admin-restaurant-info-header-save-button, #admin-restaurant-info-header-close-button {
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  background-position: center;
}

#admin-restaurant-info-header-save-button:hover, #admin-restaurant-info-header-close-button:hover {
  cursor: pointer;
}

#admin-restaurant-info-header-buttons {
  text-align: right;
  right: 0px;
  height: 40px;
}

#admin-restaurant-info-header-buttons > div {
  display: inline-block;
  margin: 0px 5px;
}

#admin-restaurant-info-img {
  position: relative;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px; 
  border-radius: 5px;
}

#admin-restaurant-info-img:hover {
  cursor: pointer;
}

#admin-restaurant-info-img-empty {
  position: relative;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px; 
  border-radius: 5px;
  border: 1px dashed aquamarine; 
}

#admin-restaurant-info-img-empty:hover, #admin-retaurant-info-status span:hover {
  cursor: pointer;
}

/*
  Restaurant Status
*/

#admin-retaurant-info-status > div {
  margin: 5px;
}

/*
  Name of Restaurant
*/

#admin-restaurant-info-name input {
  position: absolute;
  display: block;
  height: 25px;
  font-size: 17px;
  margin-left: 10px;
  bottom: 50px;
}

/*
  Restaurant Trash Button
*/

#admin-restaurant-info-header-title-trash-button {
  background-image: url('/api/static/trash.png');
  height: 25px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}

#admin-restaurant-info-header-title-trash-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  #admin-restaurant-info-header > div:first-child {
    display: inline-block;
    width: 80%;
  }

  #admin-restaurant-info-header > div:last-child {
    display: inline-block;
    width: 20%;
  }
}

@media only screen and (max-width: 800px) {
  /*.restaurant-img {
    width: 100%;
  }*/
}

@media only screen and (max-width: 760px) {
  #admin-restaurant-info {
    position: relative;
    background-color: white;
    height: 100%;
    margin: auto;
    width: 100%;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 370px) {
  #admin-restaurant-info-header > div:first-child {
    display: inline-block;
    width: 80%;
  }

  #admin-restaurant-info-header > div:last-child {
    display: inline-block;
    width: 15%;
  }
}