.admin-restaurant {
  /*height: 60px;*/
  margin: 10px 0px 10px 0px;
  padding: 7px 7px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.admin-restaurant-closed {
  margin: 10px 0px 10px 0px;
  padding: 7px 7px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: black;
  opacity: 0.5;
}

.admin-restaurant:hover, .admin-restaurant-closed:hover {
  cursor: pointer;
}

.restaurant-category {
  font-size: 14px;
  margin-top: 0.6%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurant-img-container {
  display: inline-block;
  vertical-align: top;
  width: 10%;
  overflow: hidden;
  border-radius: 5px;
}

.restaurant-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 65px;
  transition: all 0.5s ease;
}

.restaurant-img-empty {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 65px;
  /*transition: all 0.5s ease;*/
}

.restaurant-img:hover {
  transform: scale(1.2);
}

.restaurant-info {
  padding: 0px 10px;
  width: 87%;
  display: inline-block;
}

.restaurant-info span {
  font-weight: bold;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  .restaurant-info {
    width: 87%;
  }
}

@media only screen and (max-width: 980px) {
  .restaurant-img-container {
    width: 100%;
  }

  .restaurant-info {
    width: 98%;
    padding-top: 10px;
  }
}

/*@media only screen and (max-width: 760px) {
  .restaurant-img {
    width: 100%;
  }

  .restaurant-info {
    width: 98%;
  }
}*/