#admin-login-body {
  height: 100%;
  margin: auto;
  position: relative;
  padding-top: 70px;
  width: 70%;
}

#admin-login-body input[type=text], input[type=password] {
  margin: 10px 0px;
  padding: 10px 20px;
  width: 100%;
}

label {
  font-weight: bold;
}